<% include partials/header %>
<%
	function getLoanAmount(client){
		var tally = 0;
		client.loans.forEach(function(loan){
			tally += loan.amountBorrowed;
		});
		return tally;
	}

%>
<div class="row">
	<div class="col m12">
		<ul id="tabs-swipe-demo" class="tabs tabs-fixed-width">
			<li class="tab col s3 tabs-fixed-width"><a class="active" href="#test-swipe-1">Clients</a></li>
			<li class="tab col s3 tabs-fixed-width"><a href="#test-swipe-2">Loans</a></li>
		</ul>

		<div id="test-swipe-1" class="col s12">

			<div class="col s12 m8 offset-m2 center">
				<% if(clients.length > 0) { %>
					 <div class="center"><h3>Total Clients: <%= clients.length %></h3></div>
				<%} else { %>
				 <div class="center"><h3>Total Clients: <%= clients.length %></h3></div>
				 <p class="flow-text">You currently have no existing Clients - <a href="/clients/new">Add New Clients</a></p>
				<%}%>
		 </div>

		 <div class="container">
			 <div class="row">
			 <div class="col s12 m8 offset-m2">
				 <nav>
					<div class="nav-wrapper clientSearch">
						<form>
							<div class="input-field">
								<input id="search" type="search" required>
								<label class="label-icon" for="search"><i class="material-icons">search</i></label>
								<i class="material-icons">close</i>
							</div>
						</form>
					</div>
				</nav>

				 <% clients.forEach(function(client) { %>
					 <div class="card">
						 <div class="card-content cardBackground">
						 	<h4 class="clientHeader center"><%= client.firstName %>  <%= client.lastName %></h4>

							<div class="row">
								<div class="col m6">
								<div class="collection clientCollection inline left">
									<p class="flow-text subHeader collection-item">Total Loans: <%= client.loans.length %></p>
									<p class="flow-text truncate subHeader collection-item">Borrowed: $<%= getLoanAmount(client); %></p>
								</div>
							</div>

							<div class="col m6">
								 <div class="collection clientCollection inline right">
								 <p class="flow-text truncate subHeader collection-item ">Address: <%= client.address%></p>
									 <p class="flow-text truncate subHeader collection-item">Nationality: Irish</p>
								 </div>
							 </div>
							</div>

							 <div class="row">
 								<div class="col m6">
	 								<div class="collection clientCollection inline left">
	 									<p class="flow-text subHeader collection-item">DOB: 24/07/07</p>
	 									<p class="flow-text subHeader collection-item">Gender: <%= client.gender %></p>
	 								</div>
 							</div>

								<div class="col m6">
									<div class="collection clientCollection inline right">
										<p class="flow-text truncate subHeader collection-item">Email: <%= client.emailAddress %></p>
										<p class="flow-text truncate subHeader collection-item">Number: <%= client.contactNumber%></p>
									</div>
								</div>

							 </div>
							</div>

						 <div class="card-action cardBackgroundDark">
							<a class="btn blue lighten-1  waves waves-effect" href="/clients/<%= client._id %>/settings">Settings</a>
							<a class="btn green accent-4 waves waves-effect" href="/clients/<%= client._id %>/loans/new">Add a Loan</a>
						 </div>

					 </div>
				 <% }); %>
			 </div>
		 </div>
		 </div>

	 </div>
 </div>
 </div>
		<div id="test-swipe-2" class="col s12">
			 <div class="row">
				<div class="col s12 m12 l4 offset-l2">
					<ul class="collection hoverable">
							<li class="flow-text center-align collection-item white-text blue lighten-1">Loans Owned:  0</span>
							<li class="flow-text center-align collection-item white-text blue lighten-1">Loans Repaid: 0</span>
					  </div>

				 <div class="col s12 m12 l4">
					 <ul class="collection hoverable">
							 <li class="flow-text center-align collection-item white-text blue lighten-1">Amount Owned: </span>
							 <li class="flow-text center-align collection-item white-text blue lighten-1">Amount Repaid: </span>
						</div>
					</div>

					 <div class="row">
						 <div class="col s12 m8 offset-m2 center">
								<h3>Loans Owed</h3>
								<table class="highlight centered bordered ">
										<thead>
											<tr>
													<th>Name</th>
													<th>Type</th>
													<th>Total Amount</th>
													<th>Remaining</th>
													<th>Repaid</th>
													<th>Date</th>
											</tr>
										</thead>

										<tbody>
											<% if(clients.length > 0) { %>
													<% clients.forEach(function(client) { %>
														<% if(client.loans.length > 0) { %>
															<tr>
															 <td> Cathal</td>
															 <td> Meagher </td>
															 <td> $455000</td>
															 <td>Sample  Data</td>
															 <td> $50000</td>
															 <td> 24/07/20</td>
															 <td>
															 <a class="btn-floating blue" href="#"><i class="material-icons">settings</i></a>
																</td>
															</tr>
														<% } %>
													<% }); %>
												<% } %>

									 		 </tbody>
								  </table>
			 				</div>
		 			</div>
			</div>
	</div>
</div>
<script type="text/javascript">
			$(document).ready(function(){
			// the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
			$('.modal').modal();
			});
</script>




	<% include partials/footer %>
