<% include partials/header %>
<script src="indexInit.js" type="text/javascript"></script>
<%
	function getLoanAmount(client){
		var tally = 0;
		client.loans.forEach(function(loan){
			tally += loan.amountBorrowed;
		});
		return tally;
	}

%>
<div class="row">
	<div class="col m12">
		<ul id="tabs-swipe-demo" class="tabs tabs-fixed-width">
			<li class="tab col s3 tabs-fixed-width"><a class="active" href="#test-swipe-1">Clients</a></li>
			<li class="tab col s3 tabs-fixed-width"><a href="#test-swipe-2">Loans</a></li>
		</ul>

		<div id="test-swipe-1" class="col s12">

			<div class="col s12 m8 offset-m2 center">
				<% if(clients.length > 0) { %>
					 <div class="center"><h3>Total Clients: <%= clients.length %></h3></div>
				<%} else { %>
				 <div class="center"><h3>Total Clients: <%= clients.length %></h3></div>
				 <p class="flow-text">You currently have no existing Clients - <a href="/clients/new">Add New Clients</a></p>
				<%}%>
		 </div>

		 <div class="container">
			 <div class="row">
			 <div class="col s12 m8 offset-m2">
				 <nav>
					<div class="nav-wrapper clientSearch">
						<form>
							<div class="input-field">
								<input id="searchClient" type="search" placeholder="Client Name" required>
								<label class="label-icon" for="search"><i class="material-icons">search</i></label>
								<i class="material-icons">close</i>
							</div>
						</form>
					</div>
				</nav>

				 <% clients.forEach(function(client) { %>
					 <div class="card clientCards">
						 <div class="card-content cardBackground">
						 	<h4 class="clientHeader center"><strong><%= client.firstName %>  <%= client.lastName %></strong></h4>

							<div class="row">
								<div class="col m6 s12">
								<div class="collection clientCollection inline left">
									<p class="flow-text subHeader collection-item">Total Loans: <span class="stronger"><%= client.loans.length %></span></p>
									<p class="flow-text truncate subHeader collection-item">Borrowed: <span class="stronger">$<%= getLoanAmount(client); %></span></p>
								</div>
							</div>

							<div class="col m6 s12">
								 <div class="collection clientCollection inline right">
								 <p class="flow-text truncate subHeader collection-item ">Address: <span class="stronger"><%= client.address%></span></p>
									 <p class="flow-text truncate subHeader collection-item">Nationality: <span class="stronger">Irish</span></p>
								 </div>
							 </div>
							</div>

							 <div class="row">
 								<div class="col m6 s12">
	 								<div class="collection clientCollection inline left">
	 									<p class="flow-text subHeader collection-item">DOB: <span class="stronger">24/07/07</span></p>
	 									<p class="flow-text subHeader collection-item">Gender: <span class="stronger"><%= client.gender %></span></p>
	 								</div>
 							</div>

								<div class="col m6 s12">
									<div class="collection clientCollection inline right">
										<p class="flow-text truncate subHeader collection-item">Email: <span class="stronger"><%= client.emailAddress %></span></p>
										<p class="flow-text truncate subHeader collection-item">Number: <span class="stronger"><%= client.contactNumber%></span></p>
									</div>
								</div>

							 </div>
							</div>

						 <div class="card-action cardBackgroundDark">
							<a id="clientSettingsButton" class="btn blue lighten-1 waves waves-effect" href="/clients/<%= client._id %>/settings">Settings</a>
							<a class="btn green accent-4 waves waves-effect" href="/clients/<%= client._id %>/loans/new">Add a Loan</a>
						 </div>

					 </div>
				 <% }); %>
			 </div>
		   	</div>
		 </div>

	 </div>
 </div>
 </div>
		<div id="test-swipe-2" class="col s12">
			 <div class="row">
				<div class="col s12 m12 l4 offset-l2">
					<ul class="collection hoverable">
							<li class="flow-text center-align collection-item white-text blue lighten-1">Loans Owned:  0</span>
							<li class="flow-text center-align collection-item white-text blue lighten-1">Loans Repaid: 0</span>
					  </div>

				 <div class="col s12 m12 l4">
					 <ul class="collection hoverable">
							 <li class="flow-text center-align collection-item white-text blue lighten-1">Amount Owned: </span>
							 <li class="flow-text center-align collection-item white-text blue lighten-1">Amount Repaid: </span>
						</div>
					</div>

					 <div class="row">
						 <div class="col s12 m8 offset-m2 center">
								<h3>Loans Owed</h3>
								<nav id="loanNav">
								 <div class="nav-wrapper clientSearch">
									 <form>
										 <div class="input-field">
											 <input id="searchLoan" type="search" placeholder="Search Term"required>
											 <label class="label-icon" for="search"><i class="material-icons">search</i></label>
											 <i class="material-icons">close</i>
										 </div>
									 </form>
								 </div>
							 </nav>

								<table class="highlight centered bordered " id="loanTable">
										<thead>
											<tr>
													<th>First Name</th>
													<th>Last Name</th>
													<th>Total Amount</th>
													<th>Repaid</th>
													<th>Remaining</th>
													<th>Date</th>
											</tr>
										</thead>

										<tbody>
											<% if(clients.length > 0) { %>
													<% clients.forEach(function(client) { %>
														<% if(client.loans.length > 0) { %>
															<% client.loans.forEach(function(loan){ %>
																<tr>
																 <td> <%= client.firstName %></td>
																 <td> <%= client.lastName %> </td>
																 <td> $<%= loan.amountBorrowed %></td>
																 <td> $<%= loan.amountRepaid %></td>
																 <td> $<%- loan.amountBorrowed - loan.amountRepaid %></td>
																 <td> <%= loan.date.toDateString()%></td>
																 <td>
																 <a class="btn-floating blue" href="/loans/<%=loan._id%>"><i class="material-icons">settings</i></a>
																	</td>
																</tr>
															<% }); %>

														<% } %>
													<% }); %>
												<% } %>

									 		 </tbody>
								  </table>
			 				</div>
		 			</div>
			</div>
	</div>
</div>



	<% include partials/footer %>
