<% include ../partials/header %>
<% include ../../public/loanFunctions.ejs %>
<script src="clientSettings.js" type="text/javascript"></script>
<div class="container">
  <div class="row">
    <div class="col m12">
      <h5 class="center">Client name: <strong><%= client.firstName +" "+ client.lastName%></strong></h5>
      <div class="divider"></div>
      <h4 class="center">Loan Details</h4>
    </div>
   <div class="col s12 m12 l4 offset-l2 section">
     <ul class="collection hoverable">
         <li class="flow-text center-align collection-item">Loans Owed:  <strong><%- client.loans.length - findLoansPaid(client) %></strong></li>
         <li class="flow-text center-align collection-item ">Loans Repaid: <strong><%= findLoansPaid(client) %></strong></li>
     </ul>
   </div>

    <div class="col s12 m12 l4">
      <ul class="collection hoverable">
          <li class="flow-text center-align collection-item">Amount Owned: <strong>$<%= findAmountOwed(client) %></strong></li>
          <li class="flow-text center-align collection-item">Amount Repaid: <strong>$<%= findAmountRepaid(client) %></strong></li>
       </div>
     </div>

    <div class="divider"></div>
    <h4 class="center"><strong>Client Details</strong></h4>
    <div class="row">
          <div class="col m6">
            <ul class="collection">
              <li class="collection-item"><p class="flow-text">First Name:</p> <h5 class="leftMargin"><strong><%= client.firstName %></strong></h5></li>
              <li class="collection-item"><p class="flow-text">Last Name:</p> <h5 class="leftMargin"><strong><%= client.lastName %></strong></h5></li>
              <li class="collection-item"><p class="flow-text">Gender:</p> <h5 class="leftMargin"><strong><%= client.gender %></strong></h5></li>
            </ul>
          </div>

          <div class="col m6">
            <ul class="collection">
              <li class="collection-item"><p class="flow-text">Email Address:</p> <h5 class="leftMargin"><strong><%= client.emailAddress  %></strong></h5></li>
              <li class="collection-item"><p class="flow-text ">Contact Number:</p> <h5 class="leftMargin"><strong><%= client.contactNumber %></strong></h5></li>
              <li class="collection-item"><p class="flow-text">Address:</p> <h5 class="leftMargin"><strong><%= client.address %></strong></h5></li>
            </ul>
          </div>
    </div>
    <div class="row">
      <div class="col m6 offset-m3">
        <form action="/clients/<%= client._id%>/remove?_method=DELETE" method="post">
          <button class="btn btn-small red full-button">Delete Client</button>
        </form>
      </div>
    </div>

    <div class="divider"></div>

    <div class="col m12 section">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
                <p class="flow-text block center noMargin"><em>Current Loans</em> - Click to toggle</p>
          </div>
          <div class="collapsible-body">
            <table class="highlight centered bordered responsive-table" id="loanTable">
                <thead>
                  <tr>
                      <th>Name</th>
                      <th>Total Amount</th>
                      <th>Repaid</th>
                      <th>Remaining</th>
                      <th>Date</th>
                  </tr>
                </thead>

                <tbody>
                        <% if(client.loans.length > 0) { %>
                          <% client.loans.forEach(function(loan){ %>
                            <tr>
                             <td> <%- loan.firstName + " " + loan.lastName %></td>
                             <td> $<%= loan.amountBorrowed %></td>
                             <td> $<%= loan.amountRepaid %></td>
                             <td> $<%- loan.amountBorrowed - loan.amountRepaid %></td>
                             <td> <%= loan.date.toDateString() %> </td>
                             <td>
                             <a class="btn-floating blue" href="/loans/<%=loan._id%>"><i class="material-icons">settings</i></a>
                              </td>
                            </tr>
                          <% }); %>

                        <% } %>
                   </tbody>
              </table>
            </div>
          </li>
    </div>
  </div>
</div>



<script>



</script>
<% include ../partials/footer %>
